{% extends "all-hood/base.html" %}

{% block content %}
<style>
   
</style>
<section class="blog-section" id="">
    <div class="container mt-5">

        

            <h2 class="text-center headings">Businesses Within Your Neighborhood: <br>{{hood.name}}
            </h2>
            <div class="row">
            
            {% for biss in businesses %}
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">{{ biss.business_name }}</h5>
                        <p>{{ biss.description }}</p>
                        <p>{{ biss.neighborhood }}</p>
                        <p>{{ biss.location }}</p>
                        <a href="malto:{{ biss.email }}" class="card-link">Email: <span class="text-bold text-primary">{{ biss.email }}</span> </a>
                       <br>
                    </div>
                  </div>
            </div>

            {% empty %}
            <div class="col-md-12">
                <div class="card mb-4 post-card">
                    <div class="card-body text-center">
                        <h6 class="fade-item mb-2 text-danger">No businesses found within your Neighborhood!!</h6>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}