{% extends 'all-hood/base.html'%}
{% block content %}
{{block.super}}
<style>
    .image{
        height: auto;
        width: 100%;
    }
    .hood{
        margin-top: 10%;
    }
</style>
    <div class="container hood">
        <div class="row">
            
            {% for hoods in hood %}
            <div class="col-md-4">
                <img src="{{hoods.hood_image.url}}" alt="" class="image">
            
                
                <a href="{%url 'lone_hood' hoods.name %}"><p class="name">{{hoods.name}}</p></a>
                <p> {{ hoods.location }}</p>
                <p>{{ hoods.occupants_count }}</p>
                <p>{{ hoods.content }}</p>
            </div>
            {% if request.user.profile.neighborhood == hoods %}
            <a href="{% url 'leave_hood' hoods.id %}" class="btn btn-outline-danger btn-sm">Leave at will</a>
            
            <a href="{%url 'lone_hood' hoods.name %}" class="btn btn-outline-success btn-sm" style="float: right">Explore {{hoods.name}}
          </a>
            {% elif not request.user.profile.neighborhood %}
            <a href="{% url 'join_hood' hoods.id %}" class="btn btn-info btn-sm">Join Hood</a>
            {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}