{% extends 'all-hood/base.html' %}
{% load static %}
{% block content %}
<style>
    body { 
        background-image:url("static/images/hood.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div class="container-fluid">
    <div class="text-center" style="padding-top:50px;padding-bottom:170px;color: purple;">
        <h1>Welcome to LA-HOOD<i class="fas fa-home t-6"></i></h1>
        
        <h3>The sun at home warms better than the sun elsewhere. <br>
            A house is made of walls and beams;a home is built with love and dreams.
            <br> There's nothing half so pleasant as coming home again. <br>
            Home is where love resides, memories are created, 
           <br> friends and family belong,
             and laughter <br>never ends.</h3>

        <a href="{% url 'hood' %}"  class="btn btn-info btn-outline-dark  mt-3">View neighbourhoods</a>
    </div>

</div>


{% endblock %}